extends ../layout

block content
  include ../partials/header
  .row.full-bleed#loginpage
    .title
      h1 Sign Up
    form.form-horizontal(id='signup-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        .col-sm-7
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .form-group
        .col-sm-7
          input.form-control(type='password', name='password', id='password', placeholder='Password', required)
      .form-group
        .col-sm-7
          input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
      .form-group
        .col-sm-7
          button.btn.btn-success(type='submit')
            | Sign Up
