.navbar.navbar-default.navbar-fixed-top
  //- .container
  .navbar-header
    //- button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
    button.navbar-toggle(type='button')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    if title==='Dashboard'
      a.navbar-brand(href='/')
        | EXT.
        span.nav-serif dashboard
    else
      a.navbar-brand(href='/')
        | EXT
  .collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-right
      if !user
        li(class=title=='Login'?'active':undefined)
          a(href='/login') Log In
        li(class=title=='Create Account'?'active':undefined)
          a(href='/signup') Create Account
      else
        li.dropdown(class=title=='Account Management'?'active':undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | #{user.profile.name || user.email || user.id}&nbsp;
            i.caret
          ul.dropdown-menu
            li
              a(href='/account') Account
            li.divider
            li
              a(href='/dashboard') Dashboard
            li.divider
            li
              a(href='/link') Link APIs
            li.divider
            li
              a(href='/logout') Log Out