extends layout

block content
  script(src='/bower_components/moment/moment.js')
  script(src='/bower_components/d3/d3.js')
  script(src='/bower_components/lodash/dist/lodash.js')
  script(src='/bower_components/d3-cloud/build/d3.layout.cloud.js')
  .row.dashboard-container
    //- .row
    //-   include partials/header
    //-   indlude partials/dashboard_navigator
    div(ng-controller='CustomDashboardCtrl')
      div(ng-if="dates.from")
        h3 From
        {{dates.from}}
      div(ng-if="dates.to")
        h3 To
        {{dates.to}}
      div.col-sm-8(lastfm-cloud)
      div.col-sm-8(moves-agg-info)