extends layout

block content
  script(src='/bower_components/moment/moment.js')
  script(src='/bower_components/d3/d3.js')
  script(src='/bower_components/lodash/dist/lodash.js')
  .dashboard-container
    //- .row
    include partials/header
    div(ng-controller='DailyDashboardCtrl')#dashboard
      .row
        a(ng-href="dashboard/custom")
          h5 Custom View
      .row
        div.date-picker(ng-if="date")
          a(class="fa fa-chevron-left" ng-click="removeDate()")
          {{date.format('DD/MM/YYYY')}}&nbsp
          a(class="fa fa-chevron-right" ng-click="addDate()")
      .row
        div.col-sm-8(user-dashboard)
        div.col-sm-2(places-summary)
        //- div.col-sm-2(artist-cloud)
      //- div(user-reflection)