extends layout

block content
  .row.text-center
    if user
      h2 Dashboard 
      h2 Link Apps
      ul
        li Fitbit
        li Moves
        li Last.fm
        li Instagram
        li Twitter
      h2 Account
    else
      .col-sm-offset-3.col-sm-3
        a(href="/login")
          h1 Log In 
      .col-sm-3
        a(href="/signup")
          h1 Sign Up 