extends layout

block content
  if user
    include partials/header
  .row#homepage
    .title
      h1 Extempore.
    .copy
      p A framework for the physicalization of personal data.
    if user
      .row
        .col-sm-6
          a.btn(href="/dashboard")
            h2 Dashboard (Daily)
        .col-sm-6
          a.btn(href="/dashboard/custom")
            h2 Dashboard (Custom)
      .row
        .login-options.text-center
          .col-sm-3
            a.btn(href="/link")
              h2 Link Apps
          .col-sm-3
            a.btn(href="/account")
              h2 Account

    else
      .login-options.text-center
        .col-sm-offset-3.col-sm-3
          a.btn(href="/login")
            h2 Log In 
        .col-sm-3
          a.btn(href="/signup")
            h2 Sign Up 