extends layout

block content
  if user
    include partials/header
  .row#homepage
    .title
      h1 Extempore.
    .copy
      p A framework for the physicalization of personal data.
    if user
      .row.home-options
        a.btn(href="/dashboard")
          | Dashboard (Daily)
        a.btn(href="/dashboard/custom")
          | Dashboard (Custom)
        a.btn(href="/link")
          | Link Apps
        a.btn(href="/account")
          | Account

    else
      .login-options.text-center
        a.btn(href="/login")
          | Log In 
        a.btn(href="/signup")
          | Sign Up 