extends layout

block content
  .row#homepage
    .title
      h1 Gestaltung.
    .copy
      p A framework for the physicalization of personal data.

    form.form-horizontal(role='form', action='/express_interest', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(class='col-sm-2 control-label', for='email') Email
        .col-sm-8
          input.form-control(type='text', name='email', id='email', autofocus=true)
      .form-group
        .col-sm-offset-2.col-sm-8
            button.btn-btn-primary(type='submit')
              i.fa.fa-envelope
              | Submit