extends layout

block content
	.page-header
		h3 Last.fm Information

	form.form-horizontal(action='/link/lastfm', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group
			label.col-sm-3.control-label(for='username') Username
			.col-sm-7
				input.form-control(type='text', name='username', id='username', value='#{user.lastfm || ""}')
		.form-group
			.col-sm-offset-3.col-sm-4
				button.btn.btn.btn-primary(type='submit')
					i.fa.fa-pencilr
					| Update Last.fm Profile