 @font-face {
     font-family: "Copernicus";
     font-style: regular;
     font-weight: regular;
     src: url("../fonts/GalaxieCopernicus-Book.otf") format("opentype");
 }

 @font-face {
     font-family: "Copernicus";
     font-style: italic;
     font-weight: regular;
     src: url("../fonts/GalaxieCopernicus-BookItalic.otf") format("opentype");
 }

  @font-face {
     font-family: "Avant Garde";
     font-style: italic;
     font-weight: regular;
     src: url("../fonts/huge_agb_v5.otf") format("opentype");
 }