// Override Bootstrap default behaviors

.row {
	margin: 0;
}

a {
	color: $white;
	transition: all .4s cubic-bezier(.24,.45,.46,.92);

	&.underline {
		text-decoration: underline;
	}


	&:hover {
	  color: $black;
	}
}

// Buttons
// -------------------------

.btn {
	font-family: 'Avant Garde';
	color: $brand-primary;
	background-color: $white;
	border-radius: 0px;
	margin-bottom: 10px;
	margin-right: 3%;
	font-size: 17px;

	&:focus {
		outline: none;
	}

	padding: 18px 38px;
	// border-radius: 3px;
	transition: all .4s cubic-bezier(.24,.45,.46,.92);

	&:hover {
	  color: #fff;
	  background-color: $black;
	}
}

.btn-link {
	// box-shadow: none;

	// &:hover {
	//   color: $gray-darker;
	//   text-decoration: none;
	//   background-color: transparent;
	// }
}

.btn-default, .btn-default:focus {
  // background-image: linear-gradient(to bottom, #ffffff 60%, #f8f8f8 100%);
}

// Grid Systems
.col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-10, .col-sm-12 {
	padding-left: 0;
}

// Navbar
// ---------------------
.navbar {
	padding: 20px 30px 0px 30px;
	background-color: transparent;
	font-family: 'Avant Garde';
	font-size: 20px;
	color: $black;
	box-shadow: none;
}

.navbar-default {
	& .navbar-brand {
		color: $white;
		font-size: 25px;

		a {
			color: $white;

			&:hover {
				color: $white;
			}
		}
	}

	& .navbar-toggle {
		border-color: transparent;

		& .icon-bar {
			background-color: $white;
		}
	}

	& .navbar-nav > li > a {
		color: $white;
	}

}

.navbar-header {
	color: $white;
	& a {
		color: $white;
	}
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: $black;
	background-color: $white;
}

// Forms
// ---------------------
.form-control {
	background-color: $white;
	font-family: 'Copernicus';
	font-style: italic;
	font-size: 16px;
	height: 40px;
	border-radius: 0px;

	&:focus {
		// border-color: 
		border: 2px solid $gray;
	}
}